.week-container{
    display: grid;
    grid-template-columns: repeat(7,1fr); 
}
.day{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin:10px;
}
.selected-day{
    color:#ffffff;
    background-color: rgb(2, 108, 246);
    border-radius: 50px;
}

.week{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
.week-left{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    width: 300px;
}
.week-cell{
    width: 145px;
    height: 120px;
    border: 0.8px solid lightgray;
    padding-top: 5px;
}
.week-cell-left{
    margin-top:8px
}
.today{
    background-color: rgb(22, 94, 249);
    border-radius: 50px;
    color:#fff !important;
    width: 30px;
    height: 30px;
    /* margin:15px auto; */
    padding: 5px 6px;
}

.text-gray{
    color:rgb(121, 119, 119)
}
.text-black{
    color:black;
}
.inactiveDay {
    color: #9e9e9e;
  }