.week-container{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    
}
.day{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin:10px;
}
.selected-day{
    color:#ffffff;
    background-color: rgb(2, 108, 246);
    border-radius: 50px;
}
.inactive-day{
    
}

.week{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
.week-cell{
    width: 150px;
    height: 150px;
    /* background-color: aqua; */
    /* margin-bottom: 5px; */
    border: 0.8px solid lightgray;
}

.today{
    background-color: rgb(22, 94, 249);
    border-radius: 50px;
    color:#fff;
    width: 30px;
    height: 30px;
    margin:5px auto;
}
