.week-container{
    display: grid;
    grid-template-columns: repeat(7,1fr); 
}
.modal-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.selected-day{
    color:#0c4fb9;
    background-color: rgb(213, 234, 251);
    border-radius: 50px;
    padding: 5px;
}

.week{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
.week-left{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
.week-cell{
    width: 135px;
    height: 85px;
    padding-top: 5px;
    background-color: rgb(247, 251, 253);
    border-radius: 5px;
    margin: 2px;
    cursor: pointer;
}

.week-cell:hover{
    background-color:  rgb(233, 247, 252);
    border-radius: 10px;
}
.week-cell-left{
    margin-top:8px
}
.week-days-container{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
.day{
    color: #0f2e94;
}

.today{
    background-color: rgb(140, 11, 151);
    border-radius: 50px;
    color:#fff !important;
    padding: 5px 6px;
}

.text-gray{
    color:rgb(121, 119, 119)
}
.text-black{
    color:black;
}
.inactiveDay {
    color: #9e9e9e;
}

.events-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.event{
    font-size: 14px;
    margin-left: 5px;
    display: flex;
    align-items: center;
}
.dot{
    background-color: #4d8cf1;
    width: 7px;
    height: 7px;
    border-radius: 50px;
    margin-right: 5px;
}
